* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100lvh;
    /* voir readme */ 
}

.container1 {
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    /* align-items: center; ==> sert plus a rien car align-content : center */
    flex-wrap: wrap;
    align-content: center;
    gap: 2rem;
    background-color: lightgray;
}

.elem {
    background-color: darkseagreen;
    padding: 0.5rem;
    width: 150px;
    height: fit-content;
    border: 2px solid darkblue;
}

